.eye-wrapper { display: none; user-select: none; }

.eye {
    position: absolute;
    top: 49.7%;
    left: 50%;
    color: #3c575767; /* Your default color */
    transition: color 0.3s ease;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    font-size: 2.8vh;
    width: 4.5vh;
    height: 4.5vh;
    z-index: 2;
    
} 

.eye-options {
    position: absolute;
    content: "\F33E";
    top: calc(44.5% + 3vh);
    left: 51.6%; 
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.eye-options > .option {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.7vh;
    font-weight: bold;
    font-family: sans-serif;
    white-space: nowrap;
    background-color: gray;
    margin-bottom: 0.6vh;
    text-shadow: -0.1vh -0.1vh 0 rgba(0, 0, 0, 0.5), 0.1vh -0.1vh 0 rgba(0, 0, 0, 0.5), -0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5), 0.1vh 0.1vh 0 rgba(0, 0, 0, 0.5);
    transition: opacity 0.5s ease;
    left: 51.6%; 
    margin-left: 0; 
    display: block; 
    position: relative;
}


.eye-options > .option:hover {
    color: #08f7c5;
    transform: scale(1.05);
}

.eye-options > .option > i {
    color: #08f7c5;
}

#hex::before {
    position: absolute;
    top: 48.8%;
    left: 49.6%;
    transform: translateY(-50%) translateX(-50%);
    content: "\2B22";
    color: #0b0d2e00;
    font-size: 6vh;
    z-index: 1;

      text-shadow: #3c575767 0px 0 20px;
      -webkit-text-stroke: 1.5px #3c575767;
}

#hex.active-text-shadow::before {
    text-shadow: #08f7c5 0px 0 20px;
    -webkit-text-stroke: 1.5px #08f7c5;
}
